<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

	<head>
		<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	    <title>FutManager</title>
	</head>

	<body>
		
		<div class="container">
			<div class="col s6">
				<h3>Detalhes de XXX</h3>
			</div>
			<div class="col s6">
				<a href="/times/" class="valign btn-large waves-effect waves-light teal light">Gerenciar Times</a>
				<a href="/jogadores/" class="valign btn-large waves-effect waves-light teal light">Gerenciar Jogadores</a>
			</div>
			
			<div class="row">
				<form>
					<div class="col s8">
						<label>Escolha um jogador sem time</label>
						<select class="browser-default">
							<option value="" disabled="disabled" selected="selected">Escolha um jogador</option>
							<option value="1">Jogador 1</option>
							<option value="2">Jogador 2</option>
							<option value="3">Jogador 3</option>
						</select>
					</div>
					<div class="col s4">
						<button class="btn waves-effect waves-light" type="submit" name="action">Adicionar jogador ao time</button>	
					</div>
				</form>
			</div>
			
			<div class="row">
				<h5>Jogadores do time</h5>
				<table class="striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Idade</th>
							<th>Excluir do time</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Frodo Bolseiro</td>
							<td>27</td>
							<td><a class="waves-effect waves-teal btn-flat" href="#">X</a>
						</tr>
					</tbody>
				</table>			
			</div>
						
		</div>
		
		
		<script src="/webjars/jquery/2.2.4/jquery.js"></script>
		<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
	</body>	

</html>